@using BlogUygulamasi.Entities.Concrete;
@using BlogUygulamasi.Business.Abstract;
@using BlogUygulamasi.Business.Ninject;
@model List<Yazi>
@{
    ViewBag.Title = "ListByCategoryName";

    IKategoriService _kategoriService = InstanceFactory.GetInstance<IKategoriService>();

    int id = ViewBag.kategoriId;
}

<div class="alert">
    <p class="h4">Kategori Açıklaması</p>
    <p>@_kategoriService.GetKategori(c=>c.KategoriId ==id ).KategoriAciklama</p>
</div>



@if (Model.Count() > 0)
{
    foreach (Yazi item in Model)
    {
        <div class="card mt-3">
            <div class="card-header">
                <p class="h5 text-center font-weight-bold">
                    @item.YaziBaslik
                </p>
            </div>
            <img src="~/img/@item.YaziResimUrl" style="width:300px; height:300px;" class="card-img-top mt-3 mx-auto" alt="...">
            <div class="card-body mx-auto">
                <a href="/Yazi/Details/@item.YaziId" class="btn btn-primary">İlgili yazıyı okumak için tıkla!</a>
            </div>

        </div>
    }
}
else
{
    <div class="alert alert-danger">
        <p class="text-danger">
            Bu kategoriye ait yazı YOK!!!
        </p>
    </div>
}

