
@{
    ViewBag.Title = "Index";
}
<h1 class="display-1 text-center">İletişim</h1>
<div class="alert alert-primary mt-5" role="alert">
    Adım&nbsp;Soyadım&nbsp;:&nbsp;Haruncan&nbsp;Atalı
</div>
<div class="alert alert-secondary" role="alert">
    Mail&nbsp;Adresim&nbsp;:&nbsp;haruncan.atali@gmail.com
</div>
<div class="alert alert-success" role="alert">
    GitHub&nbsp;Hesabım&nbsp;:&nbsp;<a href="https://github.com/haruncanatali">github.com/haruncanatali</a>
</div>


